<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p v-if='true'>{{name}}</p>
        <!-- v-if是直接对dom元素进行删除和修改,性能比较低 -->
        <p v-if='false'>{{name不显示}}</p>

        <p v-show='true'>{{age}}</p>
        <!-- v-show是对标签进行添加css display:none属性，不会对元素进行删除和修改-->
        <p v-show='false'>{{age}}</p>
        <!-- v-if 相当于直接把这个dom元素去掉
        <p v-if='age >= 18'>已经成年</p>
        <!-- v-if和v-else之间不能有新的标签 -->
        <!-- <p></p> -->
        <!-- <p v-else>没有成年</p>
        <p v-if='score >= 90'>优秀</p>
        <p v-else-if='score >=60 && score <90'>中等</p>
        <p v-else>不及格</p> --> 
    
    </div>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script>
        let vue = new Vue({
            el: '#app',
            data() {
                return {
                    name:'jesse',
                    age:5,
                    score:60
                }
            },
        })
    </script>
</body>
</html>